<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Wall Street Journal US News Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape New Articles</a></li>
            <li><a href="/article">Go to Saved Articles</a></li>
        </ul>

    </div>
</nav>